<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jakub</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="icon" href="static/css/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="top-container">
            <img class="top-cloud" src="static/images/cloud.png" alt="Cloud.png">
            <h1>I'm Jakub</h1>
            <h2 id="description">I'm a python <span class="dev">dev</span>eloper</h2>
            <img class="bottom-cloud" src="static/images/cloud.png" alt="Cloud.png">
            <img src="static/images/mountain.png" alt="mountain.png">
        </div>

        <div class="middle-container">
            <div class="profile">
                <img src="static/images/Jakub.png" alt="Jakub's photo">
                <h2>Hello.</h2>
                <p class="jakub-description">I am a depositary analyst at State Street</p>
                <p class="jakub-description">Doing Masters in Informatics and Econometrics</p>
                <p class="jakub-description">Python developer in training and amateur sportsman</p>
            </div>
            <hr>
            <div class="skills">
                <h2>My Skills.</h2>
                <div class="skill-row">
                    <img class="skill-image" src="static/images/computer.png" alt="computer-img">
                    <h3>Python</h3>
                    <p>Rest api applications with tkinter gui, web scraping</p>
                </div>
                <div class="skill-row">
                    <img class="skill-image-triathlon" src="https://media2.giphy.com/media/1OSjHHsUJe5RO782GB/giphy.gif?cid=ecf05e473a843s3027r3nccw9krpidbby3ee4dypwrlk5hvq&rid=giphy.gif&ct=g" alt="traithlon-gif">
                    <h3>Triathlon</h3>
                    <a href="https://startlist.pl/profil/55952,perucki-jakub"><p>Check my achievements!</p></a>
                </div>
            </div>
            <hr>
            <div class="contact-me">
                <h2>Get In Touch</h2>
                <h3>If you want to find out more about me</h3>
                <a href="https://www.linkedin.com/in/kuba-perucki-905aab257/"><button type="button" class="btn">CONTACT ME</button></a>
            </div>
        </div>

        <div class="bottom-container">
              <p>© 2022 Jakub Perucki.</p>
        </div>
    </body>
</html>